.details-section {
  border: 2px solid rgb(6, 19, 118);
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.address-and-iframe-container {
  display: flex;
  height: 45vh;
  justify-content: center;
  width: 100%;
  margin: 3vw;
  align-items: center;
}

.address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.name-and-address-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(6, 19, 118);
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin: 3vw;
  border-radius: 10px;
}

.directions-button {
  margin: 2vh;
}

.street,
.city,
.zip {
  margin: 0;
}

.result,
.risk-level {
  display: flex;
  align-items: center;
}

#riskExplaination,
.risk:hover .risk-level {
  display: none;
}

.risk:hover #riskExplaination{
  display: block;
  width: 30vw;
}

li {
  margin: 1vh;
}

.info-icon {
  height: 5vh;
}

.inspection-results-header,
.violation-header,
.yelp-header {
  width: 70vw;
  height: 5vh;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(244, 111, 111);
  font-size: 2.5vh;
  display: flex;
  align-items: center;
}

.inspection-details,
.yelp-container {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.violation-details {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  max-height: 30vh;
  overflow-y: auto;
}

.violation-comment {
  border: 2px solid rgb(6, 19, 118);
  text-align: center;
  width: 65vw;
}

.violation-comment:nth-child(odd) {
  font-weight: bold;
}

.yelp-placeholder {
  height: 20vh;
  width: 20vw;
  background-color: grey;
}

.map {
  height: 40vh;
  width: 40vw;
}

.yelp-iframe {
  height: 35vh;
  width: 45vw;
  flex-wrap: wrap;
  transform: scale(0.5);
  zoom: 3;
  border: 2px solid green;
  margin-top: -8vh;
  display: flex;
  align-self: center;
}