.result-card {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid rgb(6, 19, 118);
  height: 7vh;
  margin: 2vh;
  background-color: rgb(223, 209, 209);
}
.NavLink {
  text-decoration: none;
  color: black;
}

.warning-icon,
.fail-icon,
.check-icon {
  height: 4.5vh;
  width: 3vw;
  margin: .5vw;
}

.name-container {
  width: 25vw;
}

.result-container {
  width: 20vw;
}

.result-container,
.name-container {
  /* border: 2px solid black;  */
  border-radius: 5px;
  height: 5vh;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(220, 206, 206); */
}
