.result-card {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid rgb(6, 19, 118);
  height: 7vh;
  margin: 2vh;
  background-color: rgb(223, 209, 209);
  align-items: center
}

.NavLink {
  text-decoration: none;
  color: black;
}

.warning,
.fail,
.check {
  height: 4.5vh;
  width: 3vw;
  margin: .5vw;
}

.name-container {
  width: 40vw;
}

.result-container {
  width: 20vw;
}

.result-container,
.name-container {
  border-radius: 5px;
  height: 5vh;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 670px) {
  .result-card {
    font-size: 2vh;
    width: 55vw;
  }

  .card-name {
    text-align: center;
    height: fit-content;
  }

  .card-result,
  .result-container {
    display: none;
  }

  button {
    width: 30vw;
    margin-right: auto;
    margin-left: auto;
  }

  .check,
  .fail,
  .info,
  .warning {
    height: 3vh;
    width: 4vw;
  }
}

@media only screen and (max-width: 305px) {
  .result-card {
    font-size: 1.75vh;
  }

  .check,
  .fail,
  .info,
  .warning {
    width: 5vw;
  }
}

  @media only screen and (max-width: 260px) {
  .result-card {
    font-size: 1.65vh;
  }

  .check,
  .fail,
  .info,
  .warning {
    width: 4vw;
  }
}